node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/
.cursor/

# Windows User Directories
AppData/
Application Data/
Cookies/
Contacts/
Downloads/
Favorites/
Links/
Local Settings/
Music/
My Documents/
My project/
NetHood/
NTUSER.DAT*
ntuser.*
OneDrive/
PrintHood/
Recent/
Saved Games/
Searches/
SendTo/
Start Menu/
Templates/
Videos/
curseforge/
insta360/
source/
ansel/

